<div id="footer" class="prodo-footer-theme" >   
    <div id="prodo-row-footer" style="padding:10px; margin:10px auto;" class="row"> 
      <div id="footer-col-md-2" class="col-xs-4 col-sm-4 col-md-4 col-md-offset-1"> 
        <nav><h5 id="" style="color:white;letter-spacing:1px;" class="">200,000 users registered since, January.</h5> 
          <p style="color:white;letter-spacing:1px;">We've created a product that will help your startup to even look better.</p> 
          <p><a href="" class="label label-success">Follow</a>&nbsp;&nbsp;<a href="" class="label label-default">like</a></p>
          <hr>
          <div class="row" style="margin;0px;">
            <div style="color:#908A8A;letter-spacing:.5px;font-weight:bold;font-size:12px;" class="col-xs-4 col-sm-4 col-md-4">Terms of Service</div>
            <div style="color:#908A8A;letter-spacing:.5px;font-weight:bold;font-size:12px;" class="col-xs-4 col-sm-4 col-md-4">Special Terms</div>
            <div style="color:#908A8A;letter-spacing:.5px;font-weight:bold;font-size:12px;" class="col-xs-4 col-sm-4 col-md-4">Privacy Policy</div>
          </div>
        </nav> 
      </div> 
      <div class="col-xs-2 col-sm-2 col-md-2"> 
          <nav><h5 style="color:white;letter-spacing:1px;font-weight:bold;font-size:14px;" id="" class="">Categories</h5> 
              <ul id="footer-nav-list"> 
                  <li><a href=""  class="">About Us</a></li> 
                  <li><a href="" class="">Blog</a></li> 
                  <li><a href="" class="">Team</a></li>  
                  <li><a href="" class="">Career</a></li> 
                  <li><a href="" class="">Contact</a></li> 
              </ul> 
          </nav> 
      </div> 
      <div class="col-xs-2 col-sm-2 col-md-2"> 
          <nav><h5 style="color:white;letter-spacing:1px;font-weight:bold;font-size:14px;" id="" class="">Follow us</h5> 
              <ul id="footer-nav-list"> 
                  <li><a href=""  class="">Facebook</a></li> 
                  <li><a href="" class="">Twitter</a></li> 
                  <li><a href="" class="">Instagram</a></li> 
              </ul> 
          </nav> 
      </div> 
      <div class="col-xs-2 col-sm-2 col-md-2"> 
        <nav><h5 style="color:white;letter-spacing:1px;font-weight:bold;font-size:14px;" id="" class=""></h5> 
            <ul id="footer-nav-list"> 
                <li><a href="">BUY APP</a></li>
                <br> 
                <li><a href="" class="">or Learn more</a></li> 
            </ul> 
        </nav> 
      </div> 
    </div>
  </div>