<div class="landing-container-box" style="">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="well-container">
				<div class="well">
					<div class="row">
						<div class="col-md-3">text to go here...</div>
						<div class="col-md-3">text to go here...</div>
						<div class="col-md-3">text to go here...</div>
						<div class="col-md-3">text to go here...</div>
					</div>
				</div>
			</div>
			<div class="content-container">
				<div ui-view="landing-view"></div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
