<div style="margin:5px;padding:5px;">
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<h4><a href="" ui-sref="home.landing.view"><span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp;&nbsp;<strong>Introduction to Express Service</strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<h5><p>Express service is a term used to describe the movement of goods from a transportation hub 		 to a final destination in the home and from consignee's address to client warehouse 			   location .</p>
				   <p><ul>Types of package we deliver under express service :</p>
				   <br>

				   <li><strong>Pre­paid and COD shipments:</strong> Picking up products from client warehouses and delivering them to end customer or back to the origin.</li>
				   <br>

				   <li><strong>Reverse Pickups:</strong> Picking up shipments from customer location and delivering it to client warehouse.</li>
				   <br>

				   <li><strong>Cash Pickups:</strong> There is no pysical shipment involved in this , picking up cash from customer location and delivering it to the client location e.g. Bus/Air tickets ,doing charity .</li>
				   <br>

				   <li><strong>Replacement shipments(REPL):</strong> It includes both forward and reverse cycle i.e.picking up products from client warehouses and getting it replaced with the one customer wants to replace and then delivering it back to the client warehouse .</li>
				   <br>

				   </ul>
				  
				   <p>You can use Delhivery express services in order to get your goods/orders delivered to the consignee's address.</p>
				   <p>In order to use express services , please go through our <a href= "" ui-sref="home.landing.needintegration">Express Integration </a>section </p></h5>
		</div>
	</div>
</div>
