<div style="">
	<div class="row">
		<div class="col-md-8" style="padding:0px;">
			<div class="search-container">
				<form class="" role="search">
          <div class="" style="padding:0px;margin:0px;">
            <div class="input-group">
              <input type="text" placeholder="Search here.." class="form-control input-custom input-sm" ng-model="search.value" ng-enter="search_info(search.value)" required>
              <div class="input-group-addon"><i class="fa fa-search fa-lg"></i></div>
            </div>
          </div>
        </form>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6">
					<button type="submit" class="lmap-btn-default btn btn-default btn-sm btn-block" ng-click="confirmDispatchComplete()"><span class="glyphicon glyphicon-check"></span> Ask a Question</button>
				</div>
				<div class="col-md-6">
					<button type="submit" class="lmap-btn-default btn btn-default btn-sm btn-block" ng-click="confirmDispatchComplete()"><span class="glyphicon glyphicon-check"></span> Badges</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8" style="padding:0px;">
			<div class="question-container">
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">Top Trending Questions</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">Latest Activities</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
