<div style="margin:5px;padding:5px;">
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<h4><a href="" ui-sref="home.landing.view"><span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp;&nbsp;<strong>Switch from test to production enviornment</strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<p>Once you are done with testing all the API's on the test environment i.e. (https://test.delhivery.com) , please drop an email to <a href="mailto:de.onb@delhivery.com?Subject=ABC&Body=Body" title="title" >de.onb@delhivery.com </a>and you can request for production(live) credentials .
			</p>
			<p>Once you have the Production credentials please replace the same with test and you are live , do not forget to swith the URL's as well .</p>
			<ul>
				<dl class="dl-horizontal">
				  <dt>Gateway URL:</dt>
				  <dd><a href="https://test.delhivery.com/" target="_blank">https://test.delhivery.com/</a></dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>AWB URL:</dt>
				  <dd><a href="https://test.delhivery.com/waybill/api/bulk/" target="_blank">https://test.delhivery.com/waybill/api/bulk/</a></dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>Pincode URL:</dt>
				  <dd><a href="https://test.delhivery.com/c/api/pin-codes/" target="_blank">https://test.delhivery.com/c/api/pin-codes/</a></dd>
				</dl>
			</ul>
			<p class="text-info"><strong>Note: The above links change to https://track.delhivery.com/ on production.</strong></p>
		</div>
	</div>
</div>
