<div style="margin:5px;padding:5px;">
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<h4><a href="" ui-sref="home.landing.view"><span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp;&nbsp;<strong>Last mile services using client panel</strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<ul>

				<li>Using given login id and password , you can login to <a href="https://cl.delhivery.com" target="_blank">cl.delhivery.com </a> and upload package using upload package button on the left panel .</li> 

				<li>Fill in all the necessary details and the submit button would lit up (This button will not lit up in case you have left any of the fields blank).</li>  

				<li>In order to select pickup location , you need to write the initials of the pickup location (warehouse name) in the given box and a pop will appear , select that pop up and hit the submit button . </li> 

				<li>Once the package is pushed you will get a waybill no. against that package . </li> 

				<li>Now navigate to cl.delhivery.com/package/<waybill no.> ,click on print packing slip. This opens the packing slip in a pop up window (make sure pop up is not blocked for cl) </li> 

				<li>In order to ensure that the pickup happens after manifesting the package details into our system you need to send a mail to vendordesk@delhivery.com and dispatch@delhivery.com with the below mentioned details for each pickup location: 
					<ul>
						<li>A. Location of pickup along with accurate address </li>
						<li>B. Date/Time of pickup  </li>
						<li>C. Count of packages to be picked up for the particular location </li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>