<div style="margin:5px;padding:5px;">
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<h4><a href="" ui-sref="home.landing.view"><span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp;&nbsp;<strong>General Guidelines</strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<ul>
						<p><strong>Integration is required in order to automate the process from delivering the parcel to tracking it .

						Let's understand this using an illustration , 

						I have an online ecommerce store and i want my parcel to be delivered using delhivery services .</strong></p>

						<p><strong>How can i do this and what all Rest API's are there in order to support this ? </strong></p>

						<li>First step would be to check the pin-code serviceability , if the particular pincode to which i want the parcel to be delivered is serviceable by Delhivery or not . For this I will go and check the <a href="" ui-sref="home.app.view.pincode.delivery_pincode">Pin-code serviceability API </a></li>

						<li>once the pin-code is confirmed , i need to push the soft data of my package (deliverable item) into delhivery system . This can be done using <a href="" ui-sref="home.app.view.package.order_creation">Package/order creation API </a>, i can also use the sample scripts given on the git hub link as per the technology stack of my website .</li>

						<li>Please refer to <a href="" ui-sref="home.app.view.waybill.Fetch_Waybill">waybill fetch api</a> in order to fetch waybills dynamically at the time of order creation or you can keep the waybill field empty
  						and system would assign same to the order on the fly as a success response.</li>		

						<li>Once the order is created into our system , i will be having a waybill no.(wbn) against my order as a success response .</li>

						<li>After creating the order i will have to raise a Pickup request , in order to arrange a pick up request ,i will have to use <a href="" ui-sref="home.app.view.pickup_request.create_pickup">CreatePickup request API</a>.</li>

						<li>Meanwhile ,i have to design a shipping label ,so , in order to design a shipping label , i will have to use <a href="" ui-sref="home.app.view.packing_slip.api">packing slip API</a>, as per the given sample .</li>

						<li>Once the Pickup request is created . stick the shipping label on the packages and keep it ready .</li>

						<li>Now , with help of the waybill no. i.e. assigned to my order I can track the status of my order , this can be done using <a href="" ui-sref="home.app.view.package.order_tracker">Order tracking API</a>.</li>

						<li>If in case i want to edit/cancel my order , i can use edit/cancellation API ,but i have to make sure that the order is in right state in order to be edited/cancelled . Same is explained in the <a href="" ui-sref="home.app.view.package.edit_api">Package edit API</a> and <a href="" ui-sref="home.app.view.package.cancel_api">Package cancel API</a>.</li>

						<li>If in case i want to calculate the Invoicing of that particular order in advance , i will have to refer <a href="" ui-sref="home.app.view.invoice.shipping_charge_api">Inviocing API</a> , which calculates the invoiced amount based on certain parameters .</li>

						<li>Status Flow can be explained as well , under this document . </li>

						<li>In case i dont want to be API integrated , i can still deliver my orders using delhivery , using Cl panel i.e. Client panel , can be understood by reading <a href="" ui-sref="home.landing.manualintegration">Last mile services using client panel</a> . </li>

					</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin:5px;">
		<h4><strong>Express Services and Usability via Flowchart</strong></span></h4>
  	<img width="100%" src="assets/images/integration_flow1.png">
  </div>	
</div>