<div style="margin:5px;padding:5px;">
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<h4><a href="" ui-sref="home.landing.view"><span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp;&nbsp;<strong>Raise request for Credentials</strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin:5px;">
			<p>In case you do not have the required credentials to login to the app, please reach out to <a href="mailto:de.onb@delhivery.com?Subject=ABC&Body=Body" title="title" >de.onb@delhivery.com</a> in order to get your test credentials created , make sure you share the 'username' assigned to you in the welcome email while asking for credentials .</p>

			<p>If you do not have any username created , please drop an email to <a href="mailto:de.bd@delhivery.com?Subject=ABC&Body=Body" title="title" >de.bd@delhivery.com</a>  and our business team will be getting in touch with you .</p>

			<p><strong>Credentials will be shared in below format </strong></p>

			<div class="">
				<dl class="dl-horizontal">
				  <dt>Client ID:</dt>
				  <dd>Client name in our system</dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>Login ID:</dt>
				  <dd>Username in our system</dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>API/License key:</dt>
				  <dd>license key</dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>Password:</dt>
				  <dd>password</dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>Pickup location:</dt>
				  <dd>pickup location</dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>Gateway URL:</dt>
				  <dd><a href="https://test.delhivery.com/" target="_blank">https://test.delhivery.com/</a></dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>AWB URL:</dt>
				  <dd><a href="https://test.delhivery.com/waybill/api/bulk/" target="_blank">https://test.delhivery.com/waybill/api/bulk/</a></dd>
				</dl>
				<dl class="dl-horizontal">
				  <dt>Pincode URL:</dt>
				  <dd><a href="https://test.delhivery.com/c/api/pin-codes/" target="_blank">https://test.delhivery.com/c/api/pin-codes/</a></dd>
				</dl>
			</div>

			<p class="text-info"><strong>Note: The above links change to https://track.delhivery.com/ on production.</strong></p>
		</div>
	</div>
</div>
