 <div class="sidebar-container-view" style="padding:15px;">
  <div class="">
    <div class="list-group">
      <a link-toggle id="app-collapse-link1" href="" class="app-list-group-item list-group-item list-item-main active" data-toggle="collapse" data-target="#package" aria-expanded="true" aria-controls="package">
        Magento
      </a>
      <div id="package" class="collapse in">
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.plugin.magento.introduction">Introduction</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.installation">Installation</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.configuration">Configuration</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.pincode_manager">Pincode Manager</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.awb_manager">AWB Manager</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.trackno">Add Tracking Number</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.validate_pincode">Pincode Validation</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.submit_manifest">Submit Manifest</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.shipping_label">Print Shipping Label</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.uninstallation">Un-Installation</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.plugin.magento.faq">FAQs</a>
      </div>
    </div>
  </div>
</div>
