 <div class="sidebar-container-view" style="padding:15px;">
  <div class="">
    <div class="list-group">
      <a link-toggle id="app-collapse-link1" href="" class="app-list-group-item list-group-item list-item-main active" data-toggle="collapse" data-target="#package" aria-expanded="true" aria-controls="package">
        PACKAGE
      </a>
      <div id="package" class="collapse in">
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.view.package.order_creation">Package/Order Creation</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.view.package.package_flow">Package Flow</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.view.package.order_tracker">Package/Order Tracker</a>
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.view.package.edit_api">Package Edit API</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.view.package.cancel_api">Package Cancel API</a>
      </div>
    </div>
    <div class="list-group">
      <a link-toggle id="app-collapse-link1" href="" class="app-list-group-item list-group-item list-item-main" data-toggle="collapse" data-target="#pincode" aria-expanded="true" aria-controls="pincode">
        PINCODES
      </a>
      <div id="pincode" class="collapse">
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.view.pincode.delivery_pincode">Delivery Pin Codes</a>
      </div>
    </div>
    <div class="list-group">
      <a link-toggle id="app-collapse-link1" href="" class="app-list-group-item list-group-item list-item-main" data-toggle="collapse" data-target="#waybill" aria-expanded="true" aria-controls="waybill">
        WAYBILL
      </a>
      <div id="waybill" class="collapse">
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.view.waybill.Bulk_Waybill">Bulk WayBill</a>
        <a href="" class="submenu list-group-item" id="fetracking" ui-sref="home.app.view.waybill.Fetch_Waybill">Fetch WayBill</a>
      </div>
    </div>
    <div class="list-group">
      <a link-toggle id="app-collapse-link1" href="" class="app-list-group-item list-group-item list-iInvoicetem-main" data-toggle="collapse" data-target="#Invoice" aria-expanded="true" aria-controls="Invoice">INVOICE
      </a>
      <div id="Invoice" class="collapse">
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.view.invoice.shipping_charge_api">Shipping Charge API</a>
      </div>
    </div>
    <div class="list-group">
      <a link-toggle id="app-collapse-link1" href="" class="app-list-group-item list-group-item list-item-main" data-toggle="collapse" data-target="#Pick_Up_Request" aria-expanded="true" aria-controls="Pick Up Request">
        PICK UP REQUEST
      </a>
      <div id="Pick_Up_Request" class="collapse">
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.view.pickup_request.create_pickup">Create Pickup Request API</a>
      </div>
    </div>
    <div class="list-group">
      <a link-toggle id="app-collapse-link1" href="" class="app-list-group-item list-group-item list-item-main" data-toggle="collapse" data-target="#Packing_Slip" aria-expanded="true" aria-controls="Packing Slip">
        PACKING SLIP
      </a>
      <div id="Packing_Slip" class="collapse">
        <a href="" class="submenu list-group-item" id="cashReconLink" ui-sref="home.app.view.packing_slip.api">Packing Slip API</a>
      </div>
    </div>
  </div>
</div>
